.main-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #282c34;
  position: relative;
}

.main-container h1 {
  font-weight: bolder;
  color: white;
  margin: 0;
}

.list-container {
  margin-top: 10rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
}

.list-container li {
  margin: 0;
  width: fit-content;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #282c34;
  transition: 150ms;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.list-container img {
  width: 200px;
}

.list-container p {
  margin: 0;
  margin-bottom: 4px;
}

.list-container li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.buttons-section {
  width: 100%;
  margin-top: 1rem;
}

.buttons-section button {
  outline: none;
  border: none;
  width: 100%;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: tomato;
  color: white;
  font-weight: bolder;
}

.cart-button {
  position: absolute;
  top: 2rem;
  right: 4%;
  border: none;
  outline: none;
  padding: 10px 25px;
  font-weight: bolder;
  border-radius: 20px;
  background-color: aquamarine;
  color: #282c34;
  font-size: 20px;
  cursor: pointer;
}
